/* Media Query  */

/* xl  */
@media (max-width:1399px) {
    .container {
        max-width: 1140px;
    }
}

/* lg  */
@media (max-width:1199px) {
    .container {
        max-width: 960px;
    }
}

/* md  */
@media (max-width:991px) {
    .container {
        max-width: 720px;
    }
    .navigation .navigation-content .nav-image nav ul {
        position: absolute;
        top: 100%;
        left: 0;
        flex-direction: column;
        background-color: bisque;
        width: 100%;
    }
    .product .product-head .product-menu nav ul {
        position: absolute;
        top: 0;
        left: 0;
        flex-direction: column;
        z-index: 1;
        width: 100%;
        background-color: rgba(136, 141, 141, 0.466);
        visibility: hidden;
    }
}

/* sm  */
@media (max-width:767px) {
    .container {
        max-width: 540px;
    }
    .topbar .topbar-content {
        display: block;
    }
}

/* xs  */
@media (max-width:575px) {
    
}